{% extends 'base.html.twig' %}

{% block title %}Rejoindre un évènement
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('leaflet') }}
{% endblock %}

{% block body %}
{% for message in app.flashes('error') %}
                    	<div class="alert alert-success" role="alert">
                        	{{message}}
                    	</div>
                	{% endfor %}
					{% for message in app.flashes('success') %}
                    	<div class="alert alert-success" role="alert">
                        	{{message}}
                    	</div>
                	{% endfor %}
		<div id="map-display">
		<div class="row">
			<div class="col-xl-4 p-4">
				<h1>Rejoindre un évènement
					<hr></h1>
				<ul class="list-group">

					{% for event in events %}
						{% set entity = event[0] %}
						{% set url = event[1] %}

						<li class="list-group-item">
							<div class="row">
								<div class="col-7">{{ entity.address }}
								</div>
								<div class="col-5">
									<a type="button" href="{{ url }}" class="btn btn-outline-primary float-right">Rejoindre
								</a>
								</div>
							</div>
						</li>


			{% endfor %}
		</ul>
</div>

			<div class="col-xl-8">
				<div id="map"></div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>

		var markers = [];
		{% for event in events %}
		{% set entity = event[0] %}
		{% set url = event[1] %}

		 markers.push([{{ entity.id }},"{{ entity.address }}", {{ entity.lat }}, {{ entity.lng }}, "{{url}}"]) 
		{% endfor %}
		{# console.log(markers) #}
	</script>
	{{ encore_entry_script_tags('map') }}


{% endblock %}
