{% extends 'base.html.twig' %}

{% block title %}Livre {{ book.name }}{% endblock %}

{% block body %}
    <h1>Livre {{ book.name }}</h1>

    <a href="{{ path('book_edit', {'id': book.id}) }}" class="btn">Editer le livre</a> <br>
    <a href="{{ path('book_delete', {'id': book.id, 'token': csrf_token('delete_book' ~ book.id)}) }}" class="btn red">Supprimer le livre</a> <br>
    <br><br>

    Title : {{ book.name|capitalize }} <br>
    Description : {{ book.description ? book.description|slice(0, 50) : 'NC'}} <br>
    Date de publication : {{ book.publicationDate ? book.publicationDate|date('m/d/Y') : 'NC' }} <br>
    Prix moyen : {{ book.averagePrice ? book.averagePrice : 'NC' }} <br>
{% endblock %}
