{% extends 'base.html.twig' %}

{% block title %}Compléter mon profil{% endblock %}

{% block body %}
    {# à enlever, ajouter un style pour avoir un margin top ou qqch comme ça dans le base.html sinon le contenu/form est trop hautsur chaque page #}
    <div class="" style="margin-top: 150px;"></div>
    
    {{ form_start(customUserAccountForm) }}
        <div class="col">
            {{ form_widget(customUserAccountForm.isGodparent) }}
            {{ form_label(customUserAccountForm.isGodparent, "Je souhaite parrainer") }} 
        </div>
        <div class="col">
            {{ form_widget(customUserAccountForm.isGodson) }}
            {{ form_label(customUserAccountForm.isGodson, "Je veux être filleul") }} 
        </div>
        <div class="col">
            {{ form_label(customUserAccountForm.spokenLanguage, "Tes langues parlées") }} 
            {{ form_widget(customUserAccountForm.spokenLanguage) }}
        </div>
        <div class="col">
            {{ form_label(customUserAccountForm.languageToLearn, "Langues en apprentissage") }} 
            {{ form_widget(customUserAccountForm.languageToLearn) }}
        </div>
        <div class="col">
            {{ form_label(customUserAccountForm.description, "Ta description") }} 
            {{ form_widget(customUserAccountForm.description, {
                'attr': {'placeholder': "Présente-toi et parle nous de tes hobbies !", 'class' : 'form-control'}
            }) }}
        </div>
        <button class="btn-lg">J'ai terminé !</button>
    {{ form_end(customUserAccountForm) }}

{% endblock %}
