{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div id="register">
        <div class="row register mt-sm-5">
            <div class="circle-right"></div>
            <div class="col-lg-12 col-sm-12 circle-parent" data-aos="fade-right">
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger" role="alert">
                        {{message}}
                    </div>
                {% endfor %}
                <h1>Modifier mon mot de passe
                    <hr></h1>

                    <div class="form-field mb-2">
                        <div class="col">
                            {{ form_row(form.oldPassword) }}
                        </div>
                    </div>
                    <div class="form-field">
                        <div class="col">
                            {{ form_row(form.newPassword) }}
                        </div>
                    </div>
                    <br>
                    <button class="btn-lg green">Valider</button>


            </div>
        </div>
    </div>
    </div>
    {{ form_end(form) }}
{% endblock %}