{% extends 'base.html.twig' %}

{% block stylesheets %}

	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>

{% endblock %}

{% block title %}Profil
{% endblock %}
{% block body %}
	{{ form_start(formEditProfil) }}
	<div id="register">
		<div class="row register mt-sm-5">
			<div class="col-lg-12 col-sm-12" data-aos="fade-right">
				<div class="row">
					<div class="col">
						<h1>Bienvenue sur ton profil
							{{ app.user.firstname }}
							{{ app.user.lastname }}
							<hr></h1>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-lg-4 col-sm-12">
						<div class="row">
							<div class="col">
								{% if profilImage == false %}
									<div class="row profil-image">
										<img
										name="profilImage" id="previewimg" src="{{ asset('/img/profil.png') }}"/>
									{# <img src="data:image/png;base64,{{ entity.photo | base64 }}"> #}


									</div>
								{% else %}
									<img name="profilImage" id="previewimg" src="{{ profilImage }}"/>

								{% endif %}
								<div class="row">
									<p>
										<input id="uploadImageButton" type="file"></p>
								</a>
								<!--faire un truc avec fileType pour changer les photos de profil à peaufiner-->
							</p>
						</div>
					</div>
				</div>

				<div class="row form-group">
					<div class="col">
						{{ form_widget(formEditProfil.isGodparent) }}
						{{ form_label(formEditProfil.isGodparent, "Je souhaite parrainer ") }}
					</div>
				</div>

				<div class="row form-group">
					<div class="col">
						{{ form_widget(formEditProfil.isGodson) }}
						{{ form_label(formEditProfil.isGodson, "Je veux être fillieul") }}
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-sm-12">
				<div class="row form-group">
					<div class="col edit-profil">
						<h5>Tes langues parlées :
						</h5>
						{{ form_label(formEditProfil.spokenLanguage, "Langue :")}}
						{{ form_widget(formEditProfil.spokenLanguage, {
										'attr': {
											'class' : 'form-control multiselect-select2',
											'multiple':''
										}
									})
								}}
					</div>
					<br>
				</div>

				<div class="row form-goup mb-4">
					<div class="col edit-profil">
						<h5>Tes langues en apprentissage :
						</h5>
						{{ form_label(formEditProfil.languageToLearn, "Langue :")}}
						{{ form_widget(formEditProfil.languageToLearn, {
										'attr': {
											'class' : 'form-control multiselect-select2',
											'multiple':''
										}
									})
								}}
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-12 ">
				<div class="row form-group">
					<div class="col">
						<div class="edit-profil">
							<h5>Ta description :</h5>
							{{ form_widget(formEditProfil.description, {
											'attr': {
												'placeholder': "Présente-toi et parles-nous de tes hobbies !",
												'class' : 'form-control'
												}
										})
									}}
						</div>
						<div class="row float-right">
							<p>
								<small>
									{{ app.user.description|length }}
									/ 600</small>
							</p>
						</div>
						{#a faire un count pour text taper dans textarea-->#}
					</div>
				</div>
				<div class="row container-button">
					<div class="edit-profil">
						<button class="btn-l green">Valider mes modifications !</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div></div>{{ form_end(formEditProfil) }}{# <p>
																																																							{{app.user.profilImage}}
																																																							{{app.user.description}}
																																																							{{app.user.isGodson}}
																																																							{{app.user.isGodparent}}
																																																							{% for item in app.user.spokenLanguage %}
																																																								<li>{{ item }}</li>
																																																							{% endfor %}
																																																							{% for item in app.user.languageToLearn %}
																																																								<li>{{ item }}</li>
																																																							{% endfor %}
																																																					
																																																						</p> #}<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script><script type="text/javascript">
$(document).ready(function () {
$('.multiselect-select2').select2();

$("#uploadImageButton").change(function () {
$("#message").empty(); // To remove the previous error message
var file = this.files[0];
var imagefile = file.type;
var match = ["image/jpeg", "image/png", "image/jpg"];

if (!((imagefile == match[0]) || (imagefile == match[1]) || (imagefile == match[2]))) {
$("#file").css("color", "red");
$('#previewimg').attr('src', '{{ asset('/img/profil.png') }}');

$("#message").html("<p class='error'>Please select a valid image file, Only jpeg, jpg and png Images type allowed</p>");
return false;
} else {
var reader = new FileReader();
reader.onload = imageIsLoaded;
reader.readAsDataURL(this.files[0]);
console.log(reader);

// for validate image size
var limit = 2097152; // 2MB ==> 1048576 bytes = 1MB;
if (this.files[0].size > limit) {
$("#message").html('<p class="warning">Image size is large, max size 2MB!</p>');
$("#uploadImageButton").css("color", "red");
}
}
});

function imageIsLoaded(e) {
$("#uploadImageButton").css("color", "green");
$('#image_preview').css("display", "block");
$('#previewimg').attr('src', e.target.result);
let userEmail = '{{ app.user.email }}'
$.ajax({
type: "POST",
url: "{{ path('user_uploadProfilImage') }}",


data: {
image: e.target.result,
email: userEmail


},
dataType: "json",
success: function (response) {
console.log(response);
}
});

};


});</script>{% endblock %}{# {% block javascripts %}
																																					{# <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
																																										<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script> {% endblock %}#}
