{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block body %}

	<div id="login">


		<div class="row">

			<div class="col-lg-7 col-sm-12">
				<div class="contenu" data-aos="fade-right" data-aos-offset="400">

					{% if message_success is not defined %}
						<h1>Mot de passe oublié
							<hr></h1>
						<form class="mt-5" method="POST" action="{{ path('user_forget-password') }}">
							<div class="form-group row mt-5">
								<div class="col-lg-7">
									<label for="exampleInputEmail1">Adresse-email :</label>
									<input type="email" class="form-control mt-2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="toi@buddy.fr" name="email">
								</div>
								<p class="p-email">
									* Email incorrecte.
								</p>
							</div>

							<button type="submit" class="btn-lg">Valider</button>
						</form>
					{% else %}
						<h3>Email envoyé !
							<hr></h3>
						<p>Un email a bien été envoyé à l'adresse
							{{email}}</p>

					{% endif %}
					<p class="mt-3 d-block d-sm-block d-md-none">
						<a href="{{ path('user_register') }}">Pas encore de compte ?</a>
					</p>

				</div>
			</div>
			<div class="col-lg-5 block-blue d-none d-lg-block d-xl-block">
				<div class="row">
					<div class="col-xl-12">
						<p>
							<a href="{{ path('user_register') }}">Pas encore de compte ?</a>
						</p>
					</div>
				</div>
				<img src="{{ asset('/img/8576.png') }}" alt="logo studandbuddy" width="180px"/>
			</div>
		</div>
	{% endblock %}
	{% block javascripts %}
		{{ parent() }}
		<script type="text/javascript">

			$(document).ready(function () {


var emailRegex = new RegExp("^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*");
$('#exampleInputEmail1').change(function () {
if ($(this).val().match(emailRegex)) {
$(".p-email").css("display", "none")
} else {
$(".p-email").css("display", "block")
}
});
});
		</script>
	{% endblock %}
