{% extends 'base.html.twig' %}

{% block title %}
	Mot de passe oublié
{% endblock %}

{% block body %}

	<div id="login">


		<div class="row">

			<div class="col-lg-7 col-sm-12">
				<div class="contenu" data-aos="fade-right" data-aos-offset="400">

					{% for message in app.flashes('error') %}
							<div class="alert alert-danger" role="alert">
								{{message}}
							</div>
					{% endfor %}
					{% for message in app.flashes('success') %}
							<div class="alert alert-success" role="alert">
								{{message}}
							</div>
					{% endfor %}

					<h1>Mot de passe oublié</h1>

					<form class="mt-5" method="POST" action="{{ path('user_forgot-password') }}">
						<div class="form-group row mt-5">

							<div class="col-lg-7">
								<label for="exampleInputEmail1">Adresse email :</label>
								<input type="email" class="form-control mt-2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="toi@buddy.fr" name="email">
							</div>
						</div>

						<button type="submit" class="btn-lg">Valider</button>
					</form>

				</div>
			</div>
			<div class="col-lg-5 block-blue d-none d-lg-block d-xl-block">
				<div class="row">
					<div class="col-xl-12">
						<p>
							<a href="{{ path('app_register') }}">Pas encore de compte ?</a>
						</p>
					</div>
				</div>
				<img src="{{ asset('build/images/8576.png') }}" alt="logo studandbuddy" width="180px"/>
			</div>
		</div>

	{% endblock %}
