{% extends 'base.html.twig' %}

{% block title %}Choisi ton Buddy
{% endblock %}

{% block body %}
	<div id="register">
		<div class="row register mt-sm-5">
			<div class="col-lg-12 col-sm-12" data-aos="fade-right">
				<div class="row">
					<div class="col-lg-12">
						<h1>Choisis ton Buddy,
							{{ app.user.firstname }}
							{{ app.user.lastname }} !
							<hr></h1>
					</div>
				</div>
					<div class="row">
						{% if warning == true %}
							<div class="alert alert-info alert-dismissible">
								<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								<strong>Stop ! Contrôle d'identité !</strong>
								<p>
									Fillieul ?
									<small>Non...</small>
									Parrain ?
									<small>Non plus...</small>
									<br>
									Donc on ne peut pas te mettre en lien avec des Buddies.<br>
									Et en plus tu ne peux pas profiter de tous les services que le site t'offre.<br>
									Reviens après avoir modifié ton
									<a href="{{ path('user_edit-profile') }}" class="alert-link">
										profil</a>
								</p>

							</div>
						{% endif %}

						{% if sorry == true %}
							<div class="alert alert-warning alert-dismissible">
								<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								<strong>Oops...</strong>
								<p>
									C'est un peu embarrassant mais y a personne qui correspond à ton profil.<br>
									On t'invite à modifier ton
									<a href="{{ path('user_edit-profile') }}" class="alert-link">
										profil</a>
									soit en changeant ton rôle ou bien en ajoutant des langues d'apprentissage.
								</p>
							</div>
						{% endif %}
					</div>


						<div id="matching-card">
							<div class="row">
								<div class="col-xl-12">
							{% for item in buddies %}
								<div class="card" style="width: 18rem;">
											{% if app.user.profileImage == false %}
												<div class="row profil-image mx-auto">
													<img src="{{ asset('/img/profil.png') }}"/>
												</div>
											{% else %}
												{{app.user.profileImage}}
											{% endif %}

									<div class="card-body text-center">
										<h3 class="card-title">
											{{ item.firstname}}
											{{ item.lastname}}
										</h3>
										<p class="card-description">
											{% if  item.description == null %}
												<p>On dirait que je n'ai pas encore description !</p>
										{% else %}
											{{ item.description}}
										{% endif %}
										</p>
										<button> Envoyer un message</button>
									</div>
								</div>
							{% endfor %}

								</div>
							</div>
						</div>


			</div>
		</div>
	</div>
{% endblock %}
