{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe
{% endblock %}

{% block body %}

	<div id="login">
		<div class="row">
			<div class="col-lg-7 col-sm-12">
				<div class="contenu" data-aos="fade-right" data-aos-offset="400">
					<h1>Nouveau mot de passe
						<hr></h1>
					<form class="mt-5" method="POST" action="{{ path('user_change_password',{'email':email ,'token':token}) }}" id="confirmform">
						<div class="form-group row mt-5">
							{% for message in app.flashes('error') %}
								<div class="alert alert-danger" role="alert">
									{{message}}
								</div>
							{% endfor %}
							<div class="col-lg-7">


								<label for="exampleInputEmail1">Nouveau mot de passe :</label>
								<input type="password" class="form-control mt-2" id="inputMdp" aria-describedby="emailHelp" placeholder="" name="inputMdp">
								<p>
									* Attention : votre mot de passe doit contenir au minimum 6 caractères avec au moins 1 majuscule, 1 minusculte, 1 chiffre et 1 caractère spécial.
								</p>

							</div>

							<div class="col-lg-7" style="margin-top:20px;">


								<label for="exampleInputEmail12">Confirmer nouveau mot de passe :</label>
								<input type="password" class="form-control mt-2" id="inputConfirmMdp" aria-describedby="emailHelp" placeholder="" name="inputConfirmMdp">

							</div>

						</div>

						<button id="confirmReset" class="btn-lg">Valider</button>
					</form>

					<p class="mt-3 d-block d-sm-block d-md-none">
						<a href="{{ path('app_register') }}">Pas encore de compte ?</a>
					</p>

				</div>
			</div>
			<div class="col-lg-5 block-blue d-none d-lg-block d-xl-block">
				<div class="row">
					<div class="col-xl-12">
						<p>
							<a href="{{ path('app_register') }}">Pas encore de compte ?</a>
						</p>
					</div>
				</div>
				<img src="{{ asset('build/images/8576.png') }}" alt="logo studandbuddy" width="180px"/>
			</div>
		</div>
	</div>
	{% endblock %}
	{% block javascripts %}
		{{ parent() }}
		{{ encore_entry_script_tags('reset-password') }}
{% endblock %}