{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block body %}
	<div id="register">
		<div class="row register mt-sm-5">
			<div class="circle-right"></div>
			<div class="col-lg-5 col-sm-12 circle-parent" data-aos="fade-right">
				<h1>Modifier son compte
					<hr></h1>
				<div class="form-group row mt-5">
					<div class="col">
						<p>Nom :
							{{ app.user.lastname|default('undefined') }}</p>
					</div>
				</div>
				<div class="form-group row mt-5">
					<div class="col">
						<p>Prénom :
							{{ app.user.firstname|default('undefined') }}</p>
					</div>
				</div>
				<div class="form-group row mt-5">
					<div class="col">
							<p>Adresse mail :
								{{ app.user.email|default('undefined') }}</p>
					</div>
				</div>
				<div class="form-group row mt-5">
					<div class="col">
						<p>Mot de passe:
							{{ app.user.password|default('undefined') }}</p>
					</div>
				</div>
			</div>

			<div class="col-lg-5 col-sm-12 mt-lg-n1 mt-sm-0 pt-lg-4 pt-sm-0" data-aos="fade-left" data-aos-once="true">
				<div class="mt-lg-5">
					<div class="form-group mt-lg-n2 mt-sm-0 row">
						<div class="col mt-lg-4">
							<p>École :
								{{ app.user.school|default('undefined') }}</p>
						</div>
					</div>
				</div>
				<div class="form-group row mt-5">
					<div class="col">
						<p>Numéro de téléphone :
							{{ app.user.phonenumber|default('undefined') }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row container-button">
	<div class="">

	</div>
</div>
	{% endblock %}