{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}

    <div id="eventIndex">
        <div class="row">
            <div class="col-12">
                <h1>Mes évènements rejoints</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>A faire</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <h1>Mes évènements créés</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% for event in events %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3>{{ event.name }}</h3>
                        <p><span class="gras">Organisateur :</span> {{ event.name }}</p>
                        <p><span class="gras">Adresse :</span> {{ event.address }}</p>
                        <p><span class="gras">Date :</span> {{ event.date ? event.date|date('Y-m-d') : '' }}</p>
                        <a href="{{ path('event_show', {'id': event.id}) }}">Plus de détail</a>
                        <br>
                        <a href="{{ path('event_edit', {'id': event.id}) }}">Modifier</a>
                        <br>
                        <div class="mt-2 text-right">
                            <button>Supprimer</button>
                        </div>
                    </div>
                </div>
                {% else %}
                        <p>Pas d'évènements encore créés</p>
                    <a href="{{ path('event_new') }}">Créer un évènement</a>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
