{% extends 'base.html.twig' %}

{% block title %}Rejoindre un évènement
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('leaflet') }}
{% endblock %}

{% block body %}

	<div id="map-display">
		<div class="row">
			<div class="col-xl-4 p-4">
				<h1>Rejoindre un évènement
					<hr></h1>
			</div>
			<div class="col-xl-8">
				<div
					id="map"><!-- Affichage de la carte -->
				</div>
			</div>
		</div>
	</div>
	{{ dump(events) }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		var markers = [];{% for event in events %}
{# {% if event.organizer_id.id|first is not app.user %}
{{ dump(app.user) }} #}
		markers.push([{{ event.id }},"{{ event.address }}", {{ event.lat }}, {{ event.lng }}])

{# {% endif %} #}
// markers["{{ event.address| convert_encoding('UTF-8', 'ISO-8859-1') }}"]["lat"] = {{ event.lat }};


// markers["{{ event.address| convert_encoding('UTF-8', 'ISO-8859-1') }}"]["lng"] = {{ event.lng }}


{% endfor %}
//console.log(markers)
	</script>
	{{ encore_entry_script_tags('map') }}


{% endblock %}
