{% extends 'base.html.twig' %}

{% block title %}Créer un évènement{% endblock %}

{% block body %}
    {# TODO: add margin entre nav et body #}
    <div style="height: 150px;"></div>
    {{ form_start(form) }}
    <div id="register">
        <h1>Créer un évènement
            <hr>
        </h1>
        <div class="circle-right"></div>
        <div class="col-lg-5 col-sm-12 circle-parent" data-aos="fade-right">
            <div class="col-lg-4 col-sm-12">
                <div class="row form-group">
                    <div class="col">
                        {{ form_label(form.name, "Nom de l'évènement :") }}
                        {{ form_widget(form.name, {
                            'attr': {'placeholder': "Nom de l'évènement", 'class' : 'form-control'}
                        }) }} 
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="row form-group">
                    <div class="col">
                        {{ form_label(form.address, "Adresse :") }}
                        {{ form_widget(form.address, {
                            'attr': {'placeholder': "Adresse", 'class' : 'form-control'}
                        }) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-sm-12 circle-parent" data-aos="fade-right">
            <div class="col-lg-4 col-sm-12">
                <div class="row form-group">
                    <div class="col">
                        {{ form_label(form.description, "Description :") }}
                        {{ form_widget(form.description, {
                            'attr': {'placeholder': "Description", 'class' : 'form-control'}
                        }) }}
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="row form-group">
                    <div class="col">
                        {{ form_label(form.date, "Date : ") }}
                        {{ form_widget(form.date, {
                            'attr': {'placeholder': "Date", 'class' : 'form-control'}
                        }) }}
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row container-button">
            <div class="edit-profil">
                <button class="btn-l green">Créer un évènement</button>
            </div>
        </div>
        <div class="circle-left"></div>
    </div>
    {{ form_end(form) }}

{% endblock %}
