{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

<div class="mt-5" id="admin">
    <h1 class="pt-5">Administration</h1>

    <h3 class="pt-2 pb-1">Utilisateurs</h3>
    <div class="table-responsive-md">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{% if not user.isBanned %}
                            <a class="btn btn-danger" role="button" href="{{ path('ban', { 'id': user.id }) }}">Bannir</a>
                         {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <h3 class="pt-4 pb-3">Utilisateurs reportés</h3>
    <div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Email</th>
                <th scope="col">Raison</th>
                <th scope="col">Voir conversation</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                {% if user.isReported %}
                    <tr>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.reportReason }} </td>
                        <td> TO BE ADDED </td>
                        <td>
                            <a class="btn btn-danger" role="button" href="{{ path('ban', { 'id': user.id }) }}">Bannir</a>
                            <a class="btn btn-primary" role="button" href="{{ path('cancel_report', { 'id': user.id }) }}">Gracier</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    </div>
    <h3 class="pt-4 pb-3">Utilisateurs bannis</h3>
    <div class="table-responsive-md pb-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Email</th>
                <th scope="col">Raison</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                {% if user.isBanned %}
                    <tr>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.reportReason }} </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
