{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block body %}
    <div class="container mt-5" >
        <h1 class="mt-5 pt-5">
            {% if (app.user == channel.authorId) %}
            <a href="/messagerie/{{ channel.getParticipant.id }}">
                <span>{{ channel.getParticipant.firstName }} {{ channel.getParticipant.lastName }}</span>
            </a>
            {% endif %}
            {% if (app.user == channel.getParticipant) %}
            <a href="/messagerie/{{ channel.authorId.id }}">
                <span>{{ channel.authorId.firstName }} {{ channel.authorId.lastName }}</span>
            </a>
            {% endif %}        </h1>

        <div class="container" style="height: 600px">
            <div class="container bg-light h-75 overflow-auto test">
                {% for message in messages %}
                    {% if app.user == message.author %}
                        <div class="row w-75 float-right">
                            <b>{{ message.author.firstname }} {{ message.author.lastname }}</b>
                            <p class="alert alert-info w-100">
                                {{ message.content }}
                            </p>
                        </div>
                    {% else %}
                        <div class="row w-75 float-left">
                            <b><a href="/messagerie/{{ message.author.id }}">{{ message.author.firstname }} {{ message.author.lastname }}
                                </a>
                                <button>
                                    <a href="{{ path('friendship_new_id', {'id': message.author.id}) }}">
                                        Ajouter en ami
                                    </a>
                                </button>
                                {% for friendship in friendships %}
{#                                {% if friendship.hasBeenHelpful == false %}#}
{#                                {% endif %}#}
                                {% if friendship.hasBeenHelpful == true %}
                                <button>
                                    <a href="{{ path('friendship_delete_id', {'id': friendship.id}) }}">
                                        retirer en ami
                                    </a>
                                    {% endif %}

                                </button>
                                {% endfor %}
                                </p>
                            </b>
                            <p class="alert alert-success w-100">
                                {{ message.content }}
                            </p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div >
                <form id="form" class="container row">
                    <input id="message" class="input-group-text col-sm-9" placeholder="Message" type="text" />
                    <button id="btnEnvoi" type="submit" >Send</button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script>
        let chatDiv = document.querySelector('.test');
        chatDiv.scrollTop = chatDiv.scrollHeight; // On souhaite scroller toujours jusqu'au dernier message du chat

        let form = document.getElementById('form');
        function handleForm(event) {
          //  event.preventDefault(); // Empêche la page de se rafraîchir après le submit du formulaire
        }
        form.addEventListener('submit', handleForm);



        const submit = document.getElementById('btnEnvoi');
        submit.onclick = e => { // On change le comportement du submit
            console.log("fefefef")
            const message = document.getElementById('message'); // Récupération du message dans l'input correspondant
            const data = { // La variable data sera envoyée au controller
                'content': message.value, // On transmet le message...
                'channel': {{ channel.id }} // ... Et le canal correspondant
            }
            console.log(data); // Pour vérifier vos informations
            console.log("clique ici !!")

            fetch('/message', { // On envoie avec un post nos datas sur le endpoint /message de notre application
                method: 'POST',
                body: JSON.stringify(data) // On envoie les data sous format JSON
            }).then((response) => {
                message.value = '';
                console.log(response);
                window.location.reload();
            });
        }
    </script>
{% endblock %}