{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block title %}Profil
{% endblock %}
{% block body %}
	<div id="profile" class="container">
		<nav class="navbar navbar-light bg-light mt-5">
			<div class="navbar-brand mb-0 h1">
				<div class="d-flex flex-row">
				{% if User.imageName == null %}
						<img src="{{ asset('build/images/profil.png') }}"/>
				{% else %}
					<img id="pi" src="{{ vich_uploader_asset(User, 'imageFile') }}" alt="image" style="max-height:50px;max-width:50px;"/>
				{% endif %}
					<h4 class="title-name ml-3">{{ User.firstname }} {{ User.lastname }}</h4>

				</div>
			</div>
		</nav>

		<div class="row mt-5">
			<div class="col-xl-4">
				{% if User.imageName == null %}
					<img src="{{ asset('build/images/profil.png') }}"/>
				{% else %}
					<img id="pi" src="{{ vich_uploader_asset(User, 'imageFile') }}" alt="image" style="max-height:250px;max-width:250px;"/>
				{% endif %}
			</div>
			<div class="col-xl-8">
				<h2>
					{{ User.firstname }} {{ User.lastname }}
				</h2>
				<h3><span><u>Description :</u> </span> {{ User.description }}</h3>
				<h3><span><u>Langues parlées : </u></span> {{ User.spokenLanguage|join(', ') }}</h3>
				<h3><span><u>Langues en apprentissage :</u> </span> {{ User.languageToLearn|join(', ') }}</h3>

			</div>
		</div>

		{% if app.user.id == User.id %}
		{% else %}
		<div class="row mt-5">
			<div class="col-xl-4">
				<div class="d-flex flex-column">
					<div class="p-2">
						<a href="{{ path('report', { 'id': User.id }) }}" class="btn btn-danger btn-lg">Signaler</a>
					</div>
					<div class="p-2">
						<a href="{{ path('block', { 'id': User.id }) }}" class="btn btn-danger btn-lg">Bloquer</a>
					</div>
				</div>
			</div>
			<div class="col-xl-8">
				<button type="button" class="btn btn-success btn-lg">Inviter à un événement</button>
			</div>
		</div>
		{% endif %}
	</div>

{% endblock %}
{% block javascripts %}

	{{ encore_entry_script_tags('app') }}

{% endblock %}
