<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Welcome!
        {% endblock %}
    </title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}" />

</head>
<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
			<a class="navbar-brand" href="{{ path('app_index') }}">
				<img src="{{ asset('build/images/logo.png') }}" alt="logo studandbuddy" width="180px"/>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					{% if is_granted('ROLE_ADMIN') %}
						<li class="nav-item">
							<a class="nav-link" href="{{path('admin')}}">Administration</a>
						</li>
					{% endif %}
					{% if is_granted('ROLE_USER') %}
						<li class="nav-item">
							<a class="nav-link" href="{{path('user_matching')}}">Matching</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Evènements</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="{{ path('event_map') }}">Rejoindre un évènement</a>
								<a class="dropdown-item" href="{{ path('event_index') }}">Mes évènements</a>
								{% if app.user.isGodParent == true %}
									<a class="dropdown-item" href="{{ path('event_new') }}">Créer un évènement</a>
								{% endif %}
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('messagerie') }}">Messagerie</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{% if app.user.imageName == null %}
									<img name="profilImage" id="previewimg" src="{{ asset('build/images/profil.png') }}" style="max-height:40px;max-width:40px;"/>
								{% else %}
									<img id="pi" src="{{ vich_uploader_asset(app.user, 'imageFile') }}" alt="image" width="35px" height="35px" />
								{% endif %}
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="{{ path('user_edit-profile') }}">Voir mon profil</a>
								<a class="dropdown-item" href="{{ path('user_account') }}">Mes paramètres</a>
								<a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a>
							</div>
						</li>
					{% endif %}
					{% if not app.user %}
						<li class="nav-item">
							<a class="nav-link" href="#description">Qui sommes-nous ?</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#features">Fonctionnalités</a>
						</li>
						<li class="nav-item">
							<a class="nav-link login" href="{{ path('app_login') }}">Se connecter</a>
						</li>
						<li class="nav-item ml-4 d-none d-lg-block">
							<button type="button" onclick="location.href='{{ path('app_register') }}';">
								S'inscrire
							</button>
						</li>
						<li class="nav-item d-lg-none d-xl-none">
							<button type="button" onclick="location.href='{{ path('app_register') }}';">
								S'inscrire
							</button>
						</li>
					{% endif %}
				</ul>
			</div>
		</nav>
		<main role="main" class="container-fluid"> {% block body %}{% endblock %}
		</main>
		
		<footer class="footer mt-2">
			<div class="container row">
				<div class="col my-4 mx-5">
					<div class="row py-3">
						<a href="#">
							<img src="{{ asset('build/images/logo_white.png') }}">
						</a>
					</div>
					<div class="row pt-3 ml-3 text-white">
						<a
								type="button"
								data-toggle="modal"
								data-target=".politiques"
						>
							Politique de confidentialité
						</a>

					</div>
					<div class="row pt-3 ml-3 text-white">
						<a
								type="button"
								data-toggle="modal"
								data-target=".mention"
						>
							Mentions légales
						</a>

					</div>
				</div>
			</div>
			<div
					class="modal fade politiques"
					tabindex="-1"
					role="dialog"
					aria-labelledby="myLargeModalLabel"
					aria-hidden="true"
			>
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h1>Politique de confidentialité</h1>
							<button
									type="button"
									class="close"
									data-dismiss="modal"
									aria-label="Close"
							>
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body text-left">
							<h2>Données personnelles recueillies</h2>
							<p>
								Les données personnelles que nous pouvons recueillir
								sont les informations liées à la création des comptes des utilisateurs
								accessible à l’adresse
								<a href="https://studandbuddy.herokuapp.com/"
								>https://studandbuddy.herokuapp.com/</a>
							</p>
							<p>
								Les données personnelles sont traitées par Stud&Buddy
								sur la base de son intérêt légitime (article 6.1 sous f°)
								du Règlement général sur le protection des données).
							</p>
							<br />
							<h2>Conservation des données personnelles</h2>
							<p>
								Les données personnelles seront conservées te temps
								nécessaire pour traiter la demande lorsque l’utilisateur
								du site nous aura communiqué L’utilisateur du Site
								dispose d’un droit d’accès, de rectification,
								d’effacement des informations personnelles le
								concernant, ainsi que d’un droit d’opposition ou de
								limitation du traitement le concernant, qu’il peut
								exercer à tout moment en utilisant le questionnaire du
								site.
							</p>
							<p>
								L’utilisateur dispose enfin du droit à la portabilité de
								ses données ainsi que du droit d’introduire une
								réclamation auprès d’une autorité de contrôle. Les
								utilisateurs du Site sont informés que des témoins de
								connexion ou « cookies » peuvent être temporairement
								installés dans leur terminal (ordinateur, mobile ou
								tablette), qu’ils sont libres d’accepter ou refuser.
							</p>
						</div>
						<div class="modal-footer">
							<button
									type="button"
									class="button_tertiary"
									data-dismiss="modal"
							>
								J'ai compris !
							</button>
						</div>
					</div>
				</div>
			</div>

			<div
					class="modal fade mention"
					tabindex="-1"
					role="dialog"
					aria-labelledby="myLargeModalLabel"
					aria-hidden="true"
			>
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h1>Mentions légales</h1>
							<button
									type="button"
									class="close"
									data-dismiss="modal"
									aria-label="Close"
							>
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body text-left">
							<p>
								Le site accessible à l’adresse <a href="https://studandbuddy.herokuapp.com/"
								>https://studandbuddy.herokuapp.com/</a>
							<br />
							<h2>Editeur</h2>
							<p>
								Le site est la propriété de <strong>Stud&Buddy</strong>,
								dont le siège social se situe à ESGI -
								242 Rue du Faubourg Saint-Antoine, 75012 Paris. <br />
							</p>

							<h2>Hébergement</h2>
							<p>
								HEROKU
							</p>

							<h2>Développements</h2>
							<p>
								Stud&Buddy - Équipe de développement web ESGI
								242 Rue du Faubourg Saint-Antoine, 75012 Paris
							</p>

							<h2>Conditions générales d’utilisation</h2>
							<p>
								Le site est une œuvre de l’esprit protégée par les
								droits de propriété intellectuelle. Toute reproduction
								ou représentation, en tout ou partie, à d’autres fins
								sur un quelconque support est interdite sans
								l’autorisation expresse et préalable de Minima et
								constituerait une contrefaçon au sens qui lui est donné
								par le droit applicable. Le non-respect de cette
								interdiction constitue une contrefaçon pouvant engager
								la responsabilité civile et pénale du contrefacteur. Le
								site et chacun des éléments qui le composent tels que,
								notamment marques, textes, illustrations, logos,
								dénominations sociales, produits, photographies sont la
								propriété exclusive de Minima. Toute représentation
								et/ou reproduction et/ou exploitation partielle ou
								totale de ces marques par un tiers est donc prohibée.
								Elle n’engagera par ailleurs d’aucune manière la
								responsabilité de Minima Les informations contenues dans
								ce site sont non contractuelles et sujettes à
								modification sans préavis. Les liens hypertextes mis en
								œuvre au sein du site en direction d’autres sites et
								d’une manière générale vers toutes ressources existantes
								sur internet ne sauraient engager la responsabilité de
								Minima L’utilisation du site s’effectue exclusivement
								sous la responsabilité de l’utilisateur. Aucune garantie
								d’aucune sorte, explicite ou implicite, n’est consentie
								par Minima.
							</p>

							<h2>Législation française</h2>
							<p>
								Les présentes mentions légales et les conditions
								d’utilisation du site sont soumises au droit français.
							</p>


						</div>
						<div class="modal-footer">
							<button
									type="button"
									class="button_tertiary"
									data-dismiss="modal"
							>
								J'ai compris !
							</button>
						</div>
					</div>
				</div>
			</div>


		</footer>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>
