{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	{{ form_start(registrationForm) }}
	<div id="register">
		<div class="row register mt-sm-5">
			<div class="circle-right"></div>
			<div class="col-lg-5 col-sm-12 circle-parent" data-aos="fade-right">
				<h1>Inscription
					<hr></h1>


				<div class="form-group row mt-5">
					<div class="col">
						{{ form_label(registrationForm.lastName, "Nom :") }}
						{{ form_widget(registrationForm.lastName, {
                                'attr': {'placeholder': "Nom", 'class' : 'form-control'}
                            }) }}port
					</div>
				</div>
				<div class="form-group row mt-5">
					<div class="col">
						{{ form_label(registrationForm.firstName, "Prénom :") }}
						{{ form_widget(registrationForm.firstName, {
                                'attr': {'placeholder': "Prénom", 'class' : 'form-control'}
                            }) }}
					</div>
				</div>
				<div class="form-group row mt-5">
					<div class="col">
						{{ form_label(registrationForm.email, "Adresse mail :") }}
						{{ form_widget(registrationForm.email, {
                                'attr': {'placeholder': "Adresse mail", 'class' : 'form-control'}
                            }) }}

						{{ form_errors(registrationForm.email)}}


						<p class="p-email">
							* Email incorrecte.
						</p>
					</div>
				</div>
				<div class="form-group row mt-5">
					<div class="col">
						{{ form_label(registrationForm.plainPassword, "Mot de passe :") }}
						{{ form_widget(registrationForm.plainPassword, {'attr': {'placeholder': "Mot de passe", 'class' : 'form-control'}}) }}
						{{ form_errors(registrationForm.plainPassword) }}


					</div>
				</div>
			</div>

			<div class="col-lg-5 col-sm-12 mt-lg-n1 mt-sm-0 pt-lg-4 pt-sm-0" data-aos="fade-left" data-aos-once="true">
				<div class="row">
					<div class="col">
						<p class="already_sign d-none d-lg-block">
							<a href="{{ path('app_login') }}">Déjà inscrit ? Cliquez-ici !</a>
						</p>
					</div>
				</div>
				<div class="mt-lg-5">
					<div class="form-group mt-lg-n2 mt-sm-0 row">
						<div class="col mt-lg-4">
							{{ form_label(registrationForm.school, "Ecole :") }}
							{{ form_widget(registrationForm.school, {
                                'attr': {'placeholder': "Ecole", 'class' : 'form-control'}
                            }) }}
						</div>
					</div>
					<div class="form-group row mt-5">
						<div class="col">
							{{ form_label(registrationForm.phoneNumber, "Numéro de téléphone :") }}
							{{ form_widget(registrationForm.phoneNumber, {
                                'attr': {'placeholder': "Numéro de téléphone", 'class' : 'form-control'}
                            }) }}
							{{ form_errors(registrationForm.phoneNumber) }}

							<p class="p-phone">
								* Format incorrect.
							</p>
						</div>

					</div>
					<div class="form-group form-check mt-5">
						{{ form_widget(registrationForm.agreeTerms, {'attr': {'placeholder': "Confirmer", 'class' : 'form-check-label'}}) }}
						{{ form_label(registrationForm.agreeTerms, "J'accepte la politique de confidentialité du site et j’ai bien lu le règlement.") }}
					</div>
				</div>
			</div>
		</div>
		<div class="row container-button">
			<div class="">
				<button class="btn-lg">Valider</button>
				<p class="d-lg-none d-xl-none">
					<a href="{{ path('app_login') }}">Déjà inscrit ? Cliquez-ici !</a>
				</p>
			</div>
		</div>
		<div class="circle-left"></div>
	</div>
</div>
{{ form_end(registrationForm) }}{% endblock %}{% block javascripts %}
{{ parent() }}
<script type="text/javascript"></script>{% endblock %}
