{% extends 'base.html.twig' %}

{% block title %}Stud & Buddy - Plateforme d'entraide
{% endblock %}

{% block body %}

	<div id="presentation">
		<div class="row">
			<div class="col-lg-5 block-blue d-none d-lg-block d-xl-block">
				<div class="col-xl-12 d-flex flex-column align-middle align-items-center" data-aos="fade-right" data-aos-offset="400">

					<h1>
						L'entraide internationale étudiante
					</h1>
					<p>
						Intégrez-vous facilement que vous veniez ici
						<br/>
						ou d'ailleurs !
					</p>
					<button type="button" class="btn-lg">S'inscrire</button>
				</div>

			</div>
			<div class="col-lg-7">
				<img src="{{ asset('/img/10827.png') }}" alt="talking strangers" width="100%"/>
			</div>
		</div>

	</div>
	<div id="description">
		<h1 class="vertical-align-middle pt-5">
			Stud & Buddy ? Kézako ?
		</h1>
		<div class="row">
			<div class="col-lg-6 p-5">
				<img src="{{ asset('/img/6461.png') }}" alt="talking strangers" width="100%"/>
			</div>

			<div class="col-lg-6 p-5">
				<h3>
					Stud&Buddy est une plateforme permettant aux étudiants de France et aux étudiants étrangers de mieux s’intégrer grâce à un parrain étudiant.
				</h3>
			</div>
		</div>
	</div>
	<div id="gallery">
		<h1 class="text-center">
			Découvrez nos parrains !</h1>

		<div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner ">
				<div class="carousel-item d-flex align-content-center active">
					<img class="d-block w-50" src="/img/1.png" alt="First slide">
				</div>
				<div class="carousel-item d-flex align-content-center">
					<img class="d-block w-50" src="/img/1.png" alt="Second slide">
				</div>
				<div class="carousel-item d-flex align-content-center">
					<img class="d-block w-50" src="/img/1.png" alt="Third slide">
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	<div id="features">
		<h1 class="text-center my-5">
			Fonctionnalités de la plateforme
		</h1>

		<div class="row mb-5">
			<div class="col-lg-4 text-center">
				<img src="{{ asset('/img/calendar.png') }}" alt="talking strangers"/>
				<br/>
				<p>
					Organiser des évènements</p>
			</div>
			<div class="col-lg-4 text-center">
				<img src="{{ asset('/img/chat.png') }}" alt="talking strangers"/>
				<br/>
				<p>
					Echanger des messages</p>

			</div>
			<div class="col-lg-4 text-center">
				<img src="{{ asset('/img/talk.png') }}" alt="talking strangers"/>
				<br/>
				<p>
					Apprendre des langues</p>
			</div>
		</div>
	</div>
{% endblock %}
