{% extends 'base.html.twig' %}

{% block title %}Profil de {{ app.user.firstname }}
{% endblock %}

{% block body %}
	<div id="register">
		<div class="row register mt-sm-5">
			<div class="circle-right"></div>
			<div class="col-lg-5 col-sm-12 circle-parent" data-aos="fade-right">
				{% for message in app.flashes('message') %}
					<div class="alert alert-success" role="alert">
						{{message}}
					</div>
				{% endfor %}
				<h1>Mon compte
					<hr></h1>
				<div class="form-group row mt-5">
					<div class="col">
						<p><strong>Nom :</strong>
							{{ app.user.lastname|default('undefined') }}</p>
					</div>
				</div>
				<div class="form-group row mt-5">
					<div class="col">
						<p><strong>Prénom :</strong>
							{{ app.user.firstname|default('undefined') }}</p>
					</div>
				</div>
				<div class="form-group row mt-5">
					<div class="col">
						<p><strong>Adresse mail :</strong>
								{{ app.user.email|default('undefined') }}</p>
					</div>
				</div>
			</div>

			<div class="col-lg-5 col-sm-12 mt-lg-n1 mt-sm-0 pt-lg-4 pt-sm-0" data-aos="fade-left" data-aos-once="true">
				<div class="mt-lg-5">
					<div class="form-group mt-lg-n2 mt-sm-0 row">
						<div class="col mt-lg-4">
							<p><strong>École :</strong>
								{{ app.user.school|default('undefined') }}</p>
						</div>
					</div>
				</div>
				<div class="form-group row mt-5">
					<div class="col">
						<p><strong>Numéro de téléphone :</strong>
							{{ app.user.phonenumber|default('undefined') }}</p>
					</div>
				</div>
			</div>
		</div>


	<div class="row mb-4">
		<div class="mx-auto">
			<a href="{{ path('user_edit') }}" class="hrefbutton">
			Modifier mes informations
			</a>
		</div>
	</div>
	<div class="row mb-4">
		<div class="mx-auto">
			<a href="{{ path('user_edit-password') }}" class="hrefbutton">
				Modifier mon mot de passe
			</a>
		</div>
	</div>
	<div class="row">
		<div class="mx-auto">
			<p><a href="{{ path('user_delete_request') }}">
					Supprimer mon compte
				</a></p>
		</div>
	</div>
</div>
	{% endblock %}
