<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"> {% block stylesheets %}{% endblock %}
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
		<link rel="stylesheet" href="{{ asset('/css/styles.css') }}">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
			<a class="navbar-brand" href="{{ path('default_index') }}">
				<img src="{{ asset('/img/logo.png') }}" alt="logo studandbuddy" width="180px"/>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>


			<div class="collapse navbar-collapse" [ngClass]="{ show: navbarOpen }" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					{% if is_granted('ROLE_USER') %}
						<li class="nav-item">
							<a class="nav-link" href="{{path('user_matching')}}">Matching</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" id="navbarDropdownn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mes évènements</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownn">
								<a class="dropdown-item" href="{{ path('event_map') }}">Rejoindre un évènement</a>
								<a class="dropdown-item" href="{{ path('user_account') }}">Mes évènements</a>
								<a class="dropdown-item" href="{{ path('app_logout') }}">Créer un évènement</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#messagerie">Messagerie</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<img src="{{ asset('/img/profil.png') }}" alt="profil" width="35px"/>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="{{ path('user_edit-profile') }}">Voir mon profil</a>
								<a class="dropdown-item" href="{{ path('user_account') }}">Mon compte</a>
								<a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a>
							</div>
						</li>
					{% endif %}
					{% if not app.user %}
						<li class="nav-item">
							<a class="nav-link" href="#description">Qui sommes-nous ?</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Fonctionnalités</a>
						</li>
						<li class="nav-item">
							<a class="nav-link login" href="{{ path('app_login') }}">Se connecter</a>
						</li>
						<li class="nav-item ml-4 d-none d-lg-block">
							<button type="button" onclick="location.href='{{ path('app_register') }}';">
								S'inscrire
							</button>
						</li>
						<li class="nav-item d-lg-none d-xl-none">
							<button type="button" onclick="location.href='{{ path('app_register') }}';">
								S'inscrire
							</button>
						</li>
					{% endif %}
				</ul>
			</div>
		</nav>


		<div class="container-fluid"> {% block body %}{% endblock %}
			</div>
			<footer class="row mt-5">
				<div class="col my-4 mx-5">
					<div class="row py-3">
						<a href="#">
							<img src="{{ asset('/img/logo_white.png') }}">
						</a>
					</div>
					<div class="row pt-3 ml-3">
						<a href="#">
							<p>Politique de confidentialité</p>
						</a>
					</div>
					<div class="row pt-3 ml-3">
						<a href="#">
							<p>Mentions légales</p>
						</a>
					</div>
				</div>
			</footer>

			{% block javascripts %}
				<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
				<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
				<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
				<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
				<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
			{% endblock %}
			<script src="{{ asset('/js/scripts.js') }}"></script>

		</body>
	</html>
